/*--------------------MAIN GUIT ELEC/GUIT ACUST/BAJOS/AMPS--------------------------*/

$letraTitulo: 'The Nautigal', cursive;
$fondoTitulo:rgb(240, 240, 240);
$tamanioTitulo: 100px;

$letraInstrumento: 'Montaga', serif;
$tamanioLetraInstrumento: large;
$bordeInstrumento: 3px double rgb(175, 175, 175);

.guitarrasElectricas{

    main{

        .titulo{

        margin-top: 30px;
        font-family:$letraTitulo;
        font-size: $tamanioTitulo;
        height: 140px;
        text-align: center;
        background-color: $fondoTitulo;
        }
    

    .instrumento1{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: space-evenly;
        border: $bordeInstrumento ;
        padding: 30px;
        margin-bottom: 30px;
        font-family: $letraInstrumento;
        font-size:$tamanioLetraInstrumento;
        font-weight: bold;
    

        img{
        
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        width: 250px;
        transition: width 0.5s;

        &:hover{

            width: 270px;
        }
        
         }

          p{
        margin-top: 15px;
        }

    }
        .instrumento2{

        @extend .instrumento1;
    }

        .instrumento3{

            @extend .instrumento1;
        }

        .instrumento4{

        @extend .instrumento1;

        }
        
}
}

    .guitarrasAcusticas{

        @extend .guitarrasElectricas;
    }
 
 
    .bajos{

        @extend .guitarrasElectricas;
    }

    .amp{

        @extend .guitarrasElectricas;
    }

    

    @mixin formatoConsignaciones{

       p {
        font-size: 21px;
        font-family: $letraInstrumento;
        text-align: center;
        }
       background-color: rgb(252, 252, 252);
    }  

    
    .consignaciones{

        @extend .guitarrasElectricas;
       @include formatoConsignaciones();
      
        }